<div layout="row" layout-align="start center" flex>
</div>

<div id="drawer-container">
    <mat-nav-list td-sidenav-content id="side-nav">
        <div class="header">
            <button mat-icon-button (click)="onToggle()" class="burger-menu-button">
                <mat-icon mat-list-avatar svgIcon="menu">
                </mat-icon>
            </button>
            <h3 mat-line *ngIf="showFiller">
                Miejscówka
            </h3>
            <!-- <img hide-xs *ngIf="showFiller" [routerLink]="['./initialPage']" src="assets/img/globe-logo-transparent.gif"
                 class="globe-logo"> -->
        </div>
        <mat-divider></mat-divider>
        <a id="search" *ngIf="isHomePage" (click)="refresh()" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="all_inclusive">
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wszystkie miejscówki
            </h3>
            <p mat-line *ngIf="showFiller">
                Przeglądaj wszystkie dostępne miejscówki
            </p>
        </a>
        <a id="trending_down" *ngIf="isHomePage" (click)="sortPlacesDesc()" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="trending_down_white">
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wolne miejsca
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po najmniej zatłoczonych
            </p>
        </a>
        <a id="trending_up" *ngIf="isHomePage" (click)="sortPlacesAsc()" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="trending_up_white">
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Zatłoczone miejsca
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po najbardziej zatłoczonych
            </p>
        </a>
        <a id="favorite" *ngIf="isHomePage" (click)="loadFavouritePlaces()" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="favorite_white">
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Ulubione
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po ulubionych
            </p>
        </a>
        <div *ngIf="isHomePage">
            <a id="admin" *ngxPermissionsOnly="['A_CRUD_SUPER']" (click)="navigateToAdminPage()" mat-list-item>
                <mat-icon mat-list-avatar svgIcon="admin_panel_settings">
                </mat-icon>
                <h3 mat-line *ngIf="showFiller">
                    Panel administratora
                </h3>
                <p mat-line *ngIf="showFiller">
                    Dodawaj, usuwaj i modyfikuj miejscówki
                </p>
            </a>
        </div>
        <a id="home" *ngIf="!isHomePage" routerLink="/home" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="home">
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Strona główna
            </h3>
            <p mat-line *ngIf="showFiller">
                Szukaj miejscówki
            </p>
        </a>
        <div *ngIf="isAdminPage">
        <a id="add" *ngxPermissionsOnly="['ADD_PLACE']" (click)="addNewPlace()" mat-list-item>
            <mat-icon mat-list-avatar svgIcon="add_circle"></mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Utwórz
            </h3>
            <p mat-line *ngIf="showFiller">
                Utwórz nową miejscówkę
            </p>
        </a>
    </div>
    </mat-nav-list>

    <mat-nav-list id="footer-list">
        <!-- <a id="refresh" *ngIf="isHomePage" (click)="refresh()" mat-list-item>
            <mat-icon mat-list-avatar>refresh</mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Odśwież dane
            </h3>
        </a> -->
        <a id="login" *ngIf="!(authService.logged$ | async)" mat-list-item routerLink="/login">
            <mat-icon mat-list-avatar svgIcon="login"></mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Zaloguj się
            </h3>
        </a>
        <a id="logout" *ngIf="authService.logged$ | async" mat-list-item (click)="logout()">
            <mat-icon mat-list-avatar svgIcon="logout"></mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wyloguj się
            </h3>
        </a>
    </mat-nav-list>
</div>