<div layout="row" layout-align="start center" flex>
</div>

<div id="drawer-container">
    <mat-nav-list td-sidenav-content id="side-nav">
        <div class="header">
            <button mat-icon-button (click)="onToggle()" class="burger-menu-button">
                <mat-icon mat-list-avatar>
                    menu
                </mat-icon>
            </button>
            <h3 mat-line *ngIf="showFiller">
                Miejscówka
            </h3>
            <!-- <img hide-xs *ngIf="showFiller" [routerLink]="['./initialPage']" src="assets/img/globe-logo-transparent.gif"
                 class="globe-logo"> -->
        </div>
        <mat-divider></mat-divider>
        <!-- <a id="search" *ngIf="isHomePage" mat-list-item>
            <mat-icon mat-list-avatar>
                search
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wyszukiwanie
            </h3>
            <p mat-line *ngIf="showFiller">
                Szukaj po kategorii obiektu
            </p>
        </a> -->
        <a id="trending_down" *ngIf="isHomePage" (click)="sortPlacesDesc()" mat-list-item>
            <mat-icon mat-list-avatar>
                trending_down
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wolne miejsca
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po najmniej zatłoczonych
            </p>
        </a>
        <a id="trending_up" *ngIf="isHomePage" (click)="sortPlacesAsc()" mat-list-item>
            <mat-icon mat-list-avatar>
                trending_up
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Zatłoczone miejsca
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po najbardziej zatłoczonych
            </p>
        </a>
        <a id="favorite" *ngIf="isHomePage" (click)="navigate()" mat-list-item>
            <mat-icon mat-list-avatar>
                favorite
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Ulubione
            </h3>
            <p mat-line *ngIf="showFiller">
                Filtruj po ulubionych
            </p>
        </a>
        <a id="favorite" *ngIf="isHomePage" (click)="navigateToAdminPage()" mat-list-item>
            <mat-icon mat-list-avatar>
                admin_panel_settings
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Panel administratora
            </h3>
            <p mat-line *ngIf="showFiller">
                Dodawaj, usuwaj i modyfikuj miejscówki
            </p>
        </a>
        <a id="home" *ngIf="!isHomePage" routerLink="/home" mat-list-item>
            <mat-icon mat-list-avatar>
                home
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Strona główna
            </h3>
            <p mat-line *ngIf="showFiller">
                Szukaj miejscówki
            </p>
        </a>
        <a id="add" *ngIf="isAdminPage" (click)="addNewPlace()" mat-list-item>
            <mat-icon mat-list-avatar>
                add_circle_outline
            </mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Utwórz
            </h3>
            <p mat-line *ngIf="showFiller">
                Utwórz nową miejscówkę
            </p>
        </a>
    </mat-nav-list>

    <mat-nav-list id="footer-list">
        <a id="refresh" *ngIf="isHomePage" (click)="refresh()" mat-list-item>
            <mat-icon mat-list-avatar>refresh</mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Odśwież dane
            </h3>
        </a>
        <a id="login" *ngIf="!isLogged" mat-list-item routerLink="/login">
            <mat-icon mat-list-avatar>login</mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Zaloguj się
            </h3>
        </a>
        <a id="logout" *ngIf="isLogged" mat-list-item routerLink="/home">
            <mat-icon mat-list-avatar>logout</mat-icon>
            <h3 mat-line *ngIf="showFiller">
                Wyloguj się
            </h3>
        </a>
    </mat-nav-list>
</div>