#dialog{
    display: block;

    .spinner-wrapper {
        position: absolute !important;
        z-index: 3;
        height: 50%;
        width: 42% !important;
        padding: 0!important;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
      
        button {
          margin-left: 8px;
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
      
      #modal-top {
        display: flex;
        .mat-h2 {
          justify-content: left;
        }
        #close {
          justify-content: right;
          margin-right: 0;
          margin-left: auto;
        }
      }
      
      #content {
        .full-width-input {
          margin-top: 0;
          display: block;
          widows: 70% !important;
          &:nth-child(1) {
            margin-top: 0;
          }
        }

        .uploadfilecontainer {
          background-image: url("../../../assets/cloud-2044823_960_720.png");
          background-repeat: no-repeat;
          background-size: 100px;
          background-position: center;
          height: 200px;
          width: 80%;
          margin: 20px auto;
          border: 2px dashed #12c0ef;
          border-radius: 10px;
      }

      .files-list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 10px auto;
        background: #ffffff;
        border: 1px dashed;
        border-radius: 12px;
        padding: 5px;
        color: #1c8adb;
    }
    
    .files-list .delete-file {
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    .files-list .delete-file img {
        width: 30px;
    }

        .address-table {
          width: 100%;
          ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0;
          }
        }

        .example-full-width {
            width: 100%;
          
            .day-of-week {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .one-line {
                display: flex;
                flex-direction: row;
                height: 60px;

                .day-label {
                  margin-top: 23px;
               }
            }
          }
          
          td {
            padding-right: 8px;
          }     
      }
  }
}

  ::ng-deep .mat-dialog-container {
    height: fit-content !important;
    padding: 20px !important;
    overflow-y: auto !important;
}