<div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
    <mat-spinner></mat-spinner>
</div>
<div id="place-details-container" class="dialog-responsive">
    <div id="modal-top">
        <button id="close" mat-icon-button (click)="closeDialog()">
            <mat-icon class="material-icons" svgIcon="close"></mat-icon>
        </button>
    </div>
    <div id="content">
        <mat-grid-list [cols]="columnNumber" [rowHeight]="ratio" (window:resize)="onResize($event)">
            <mat-grid-tile>
                <mat-card class="mat-elevation-z2">
                    <mat-card-header>
                        <mat-card-title>{{ place.name }}</mat-card-title>
                        <mat-card-subtitle>{{ place.categoryName }}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{place.imageUrl}}" alt="Photo of place">
                    <mat-card-content>
                        <p>{{ place.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-progress-bar mode="determinate" [value]="place.lastOccupancyTo?.percentageOccupancy"></mat-progress-bar>
                        <p>{{ place.lastOccupancyTo?.percentageOccupancy ? place.lastOccupancyTo?.percentageOccupancy : 0 }}%</p>
                        <mat-icon mat-list-avatar *ngIf="place.favourite" (click)="removeFromFavourites(place)" svgIcon="favorite">
                        </mat-icon>
                        <mat-icon mat-list-avatar *ngIf="!place.favourite" (click)="addToFavourites(place)" svgIcon="favorite_border">
                        </mat-icon>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="mat-elevation-z2">
                    <mat-card-header>
                        <mat-card-title *ngIf="isClosed()" class="warn">Zamknięte</mat-card-title>
                        <mat-card-title *ngIf="isOpen()" class="positive">Otwarte</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <div id="opening-hours">
                            <p class="hours-title">
                                Godziny:
                              </p>
                              <div class="day-of-week">
                                  <p>poniedziałek:</p>
                                  <p>{{place.openingHoursTo?.mondayOpeningHour}} - {{place.openingHoursTo?.mondayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>wtorek:</p>
                                  <p>{{place.openingHoursTo?.tuesdayOpeningHour}} - {{place.openingHoursTo?.tuesdayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>środa:</p>
                                  <p>{{place.openingHoursTo?.wednesdayOpeningHour}} - {{place.openingHoursTo?.wednesdayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>czwartek:</p>
                                  <p>{{place.openingHoursTo?.thursdayOpeningHour}} - {{place.openingHoursTo?.thursdayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>piątek:</p>
                                  <p>{{place.openingHoursTo?.fridayOpeningHour}} - {{place.openingHoursTo?.fridayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>sobota:</p>
                                  <p>{{place.openingHoursTo?.saturdayOpeningHour}} - {{place.openingHoursTo?.saturdayClosingHour}}</p>
                              </div>
                              <div class="day-of-week">
                                  <p>niedziela:</p>
                                  <p>{{place.openingHoursTo?.sundayOpeningHour}} - {{place.openingHoursTo?.sundayClosingHour}}</p>
                              </div>
                          </div>
                       
                      </mat-card-content>
                      <mat-card-header>
                        <mat-card-title class="warn trend" *ngIf="trendingUp">Prognozowany wzrost
                            <mat-icon mat-list-avatar svgIcon="trending_up">
                            </mat-icon>
                        </mat-card-title>
                        <mat-card-title class="positive trend" *ngIf="trendingDown">Prognozowany spadek
                            <mat-icon mat-list-avatar svgIcon="trending_down">
                            </mat-icon>
                        </mat-card-title>
                        <mat-card-title class="trend" *ngIf="trendingFlat">Prognozowana stabilizacja
                            <mat-icon mat-list-avatar svgIcon="trending_flat">
                            </mat-icon>
                        </mat-card-title>
                      </mat-card-header>
                        <div id="charts-section">
                            <div id="datepicker-section">
                                <mat-form-field appearance="outline">
                                    <mat-label>Wybierz dzień</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                            <div id="chart-container">
                                <ngx-charts-bar-vertical
                                    [results]="single"
                                    [schemeType]="schemeType"
                                    [gradient]="gradient"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel"
                                    [yAxisLabel]="yAxisLabel"
                                    (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>
                        </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
