<div id="search-container">
    <div [formGroup]="searchForm" id="search-fields" class="mat-elevation-z1">
        <p>
            <mat-form-field id="place-name" appearance="outline">
              <mat-label>Nazwa obiektu</mat-label>
              <input 
                #input
                matInput
                (keydown)="onKeyDown($event)"
                formControlName="placeName">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field id="place-category" appearance="outline">
                <mat-label>Kategoria obiektu</mat-label>
                <mat-select
                    matInput
                    formControlName="placeCategory">
                  <mat-option (click)="showAllPlaces()" value="''"></mat-option>
                  <mat-option (click)="filterByCategory(category)" *ngFor="let category of categoryService.categories$ | async" [value]="category">{{ category.name }}</mat-option>
                </mat-select>
            </mat-form-field>
          </p>
    </div>
    <mat-grid-list [cols]="columnNumber" [rowHeight]="ratio" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let place of filteredPlaces">
            <mat-card class="mat-elevation-z2">
                <mat-card-header (click)="openPlaceDetailsDialog(place)">
                    <mat-card-title>{{ place.name }}</mat-card-title>
                    <mat-card-subtitle>{{ place.categoryName }}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{place.imageUrl}}" alt="Photo of place" (click)="openPlaceDetailsDialog(place)">
                  <mat-card-content (click)="openPlaceDetailsDialog(place)">
                    <p>{{ place.description }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <mat-progress-bar mode="determinate" [value]="place.lastOccupancyTo?.percentageOccupancy"></mat-progress-bar>
                    <p>{{ place.lastOccupancyTo?.percentageOccupancy }}%</p>
                    <mat-icon mat-list-avatar *ngIf="place.isFavourite" (click)="toggleFavorite(place)">
                        favorite
                    </mat-icon>
                    <mat-icon mat-list-avatar *ngIf="!place.isFavourite" (click)="toggleFavorite(place)">
                        favorite_border
                    </mat-icon>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>